.search-bar-container {
    position: relative;
}

.search-bar {
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .1);
}

.search-bar input {
    background: white;
    width: 100%;
    border: 1px solid black;

    box-sizing: border-box;
    padding-left: 33px;
    padding-bottom: 2px;
    padding-top: 2px;

    font-size: 20px;
    color: #333333;
    transition: all .3s ease;
}

.search-bar input:focus {
    outline: none;
    transition: all .1s ease;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
}

.clickable-mag-glass-button {
    position: absolute;
    top: 11px;
    left: 8px;
    width: 18px;
    height: 18px;
    right: auto;
    transform: scale(1.4);
    cursor: pointer;
    padding: 0px;
    border: 0px;
    background: transparent;
/* color: grey; */
/* fill: grey; */
}

.clickable-mag-glass {
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
}

.search-area-buffer {
    height: 41px;
}

.search-bar input {
    height: 40px;
}
