.loadingBarContainer {
    display: relative;
    transition: height .2s ease;
    width: 100%;
}

.loadingBar {
    transition: width .2s ease;
    position: absolute;
    height: 5px;
    width: 100%;
}

#chhaConfigBar {
    background: pink;
    opacity: 50%;
}

#chhaDBLoadBar {
    background: darkblue;
    opacity: 50%;
}

#chhaSearchBar {
    background: #00BC4C;
    opacity: 100%;
}
