.loadingBarContainer {
    display: relative;
    transition: transform .1s ease-in;
    background: #777777;
    opacity: 1;
}

.loadingBar {
    transition: transform 1s ease-in;
    position: absolute;
    height: 5px;
    width: 100%;
    transform-origin: left;
}

#chhaConfigBar {
    transition: transform 1s ease-in;
    background: #aaaaaa;
    opacity: 1;
}

#chhaDBDownloadBar {
    background: orange;
    opacity: 1;
}

#chhaDBParsedBar {
    background: pink;
    opacity: 1;
}

#chhaDBLoadBar {
    background: darkblue;
    opacity: 1;
}

#chhaSearchBar {
    background: #00BC4C;
    opacity: 1.0;
}
