.loadingBarContainer {
    display: relative;
    transition: height .1s ease-in;
    background: #777777;
    opacity: 1;
}

.loadingBar {
    transition: width 1s ease-in;
    position: absolute;
    height: 5px;
}

#chhaConfigBar {
    transition: width 1s ease-in;
    background: #aaaaaa;
    opacity: 1;
}

#chhaDBLoadBar {
    background: darkblue;
    opacity: 0.7;
}

#chhaSearchBar {
    background: #00BC4C;
    opacity: 1.0;
}
