.loadingBarContainer {
    border: 1px solid transparent;
    position: absolute;
    transition: transform .3s ease-out;
    height: 5px;
    width: 100%;
    transform-origin: top;
    z-index: 1001;
}

.loadingBar {
    position: absolute;
    transition: transform 1s ease;
    height: 5px;
    width: 100%;
    transform-origin: left;
    z-index: 1001;
}

#chhaConfigBar {
    transition: transform 1s ease-in;
    background: #aaaaaa;
}

#chhaDBDownloadBar {
    background: orange;
}

#chhaDBParsedBar {
    background: pink;
}

#chhaDBLoadBar {
    background: darkblue;
}

#chhaSearchBar {
    background: #00BC4C;
}
