* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

input {
}

body {
/*    background: #d7eed7;*/
/*    background: #ADD8E6;*/
/*    background: #321321;*/
    background: lightblue;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

mark {
    background: none;
    color: inherit;
    text-decoration: underline;
}


.ChaTaigi {
/*    display: grid;*/
/*    grid-template-areas:*/
/*        "header"*/
/*        "searchbar"*/
/*        "options" */
/*        "results";*/
}

.non-menu {}

.search-bar {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
}

.search-bar input {
    background: white;
    width: 100%;
    border: 1px solid black;

    box-sizing: border-box;
    padding-left: 33px;
    padding-bottom: 2px;
    padding-top: 2px;

    font-size: 20px;
    color: #333333;
    transition: all .3s ease;
}

.search-bar input:focus {
    outline: none;
    transition: all .3s ease;
}

.mag-glass {
    position: absolute;
    top: 11px;
    left: 8px;
    width: 18px; 
    height: 18px; 
    color: grey;
    fill: grey;
    right: auto;
    transform: scale(1.2);
}

.search-area-buffer, .search-bar input {
    height: 40px;
}

.TODO-intermediate-results {
    /* TODO: play with flexbox to simplify code below (margin etc) */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.TODO-db-header {
    line-height: 1;
    font-size: 26px;
    font-style: italic;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: lightgrey;
/*    background: #ea3c53;*/
    background: #262a33;
    padding-top: 3px;
    padding-bottom: 7px;
    text-align: center;
    text-transform: capitalize;
}

.TODO-intermediate-results {
}

/* Old container look */
.entry-container {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 3px;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;

    background: #fff1e5;
}
.entry-container:hover {
/*    background: #eeffee;*/
    box-sizing: border-box;
    border-left: 3px solid black;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);

}

.fading-notif, .clicked-notif {
    position: fixed;
    text-align: center;
/*    top: 50%;*/
/*    left: 50%;*/
/*    text-align: right;*/
    bottom: 0px;
    right: 0px;
/*    transform: translate(-50%, -50%);*/
    line-height: 1;
    opacity: 90%;
    cursor: default;
    color: black;
/*    background: #FFD586;*/
    background: white;
    padding: 4px;
    padding-bottom: 6px;
    border-radius: 5px 0px 0px 0px;
    border: 1px grey solid;
    z-index: 2;
}

.clicked-notif {
}

.fading-notif {
    opacity: 0;
/*    transition: all .5s ease;*/
}

.poj-unicode-container {
    padding-left: 3px;
    line-height: 1;
    display: inline-block;
}

.poj-unicode {
/*    border-radius: 5px;*/
    padding-left: 2px;
    padding-right: 2px;
    font-weight: normal;
    user-select: text;
}

.hoabun-container {
    font-size: 14px;
/*    color: #345;*/
    color: #66605c;
    display: inline-block;
    user-select: none;
}

.hoabun { 
    user-select: text;
}

.alt-text-container {
    padding-right: 2px;
    padding-top: 2px;

    font-size: 8px;
    color: grey;

    user-select: none;

    position: relative;
    float: right;

/* To float the two typing inputs above one another */
/*    clear: right;*/
}


.poj-normalized-container, .poj-input-container {
    text-align: right;
    display: inline-block;
}

.poj-normalized, .poj-input {
    user-select: text;
    text-align: right;
}

.definition-container {
}

.definition {
    font-size: 14px;
/*    color: #345;*/
    color: #66605c;
    padding-left: 10px;
    font-style: italic;
}

.db-loaded-states {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-top: 1px;
    opacity: 50%;
}

.db-loaded-entry {
/*    background: rgba(255, 255, 255, .55);*/
    color: #666666;

    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 3px;
    line-height: 1;
    border-radius: 2px;
}

.db-loaded-entry-name {
    padding-right: 2px;
    text-transform: capitalize;
}
.db-loaded-entry-isloaded {
}
