* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    --container-bg-color: #fff1e5;
    --container-light-color: #66605c;
    --container-dark-color: black;
}

input {
}

body {
/*    background: #d7eed7;*/
/*    background: #ADD8E6;*/
/*    background: #321321;*/
    background: lightblue;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

mark {
    background: none;
    color: inherit;
    text-decoration: underline;
}


.ChhaTaigi {
/*    display: grid;*/
/*    grid-template-areas:*/
/*        "header"*/
/*        "searchbar"*/
/*        "options" */
/*        "results";*/
}

.search-bar-container {
/*    padding: 2px; */
/*    display: flex; */
/*    justify-content: center; */
}

.search-bar {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .1);
}

.search-bar input {
    background: white;
    width: 100%;
    border: 1px solid black;

    box-sizing: border-box;
    padding-left: 33px;
    padding-bottom: 2px;
    padding-top: 2px;

    font-size: 20px;
    color: #333333;
    transition: all .3s ease;
}

.search-bar input:focus {
    outline: none;
    transition: all .1s ease;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
}

.mag-glass {
    position: absolute;
    top: 11px;
    left: 8px;
    width: 18px;
    height: 18px;
    color: grey;
    fill: grey;
    right: auto;
    transform: scale(1.2);
}

.search-area-buffer, .search-bar input {
    height: 40px;
}

.select-bar {
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0px;
}

.select-bar-button {
    font-size: 12px;
}

.entry-container {
    transition: all .3s ease;
    width: 100%;
    box-sizing: border-box;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    color: var(--container-dark-color);
    background: var(--container-bg-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entry-container:hover {
/*    background: #eeffee;*/
    box-sizing: border-box;
    border-left: 3px solid black;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);

}

.entry-mainbox {
    flex-grow: 1;
    padding: 2px;
}

.entry-sidebox,.entry-debugbox {
    padding: 2px;

    max-width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entry-sidebox {
    align-items: flex-end;
}

.entry-debugbox {
    min-width: 5%;
    border-right: 1px solid black;
    align-items: center;
    z-index: 200;
}

.report-button {
    font-size: 10px;
    padding: 0px;
}

.fading-notif, .clicked-notif {
    position: fixed;
    text-align: center;
/*    top: 50%;*/
/*    left: 50%;*/
/*    text-align: right;*/
    bottom: 0px;
    right: 0px;
/*    transform: translate(-50%, -50%);*/
    line-height: 1;
    opacity: 90%;
    cursor: default;
    color: black;
/*    background: #FFD586;*/
    background: white;
    padding: 4px;
    padding-bottom: 6px;
    border-radius: 5px 0px 0px 0px;
    border: 1px grey solid;
    z-index: 2;
}

.clicked-notif {
}

.fading-notif {
    opacity: 0;
/*    transition: all .5s ease;*/
}

.poj-unicode-container {
    padding-top: 2px;
    padding-left: 3px;
    line-height: 1;
    display: inline-block;
}

.poj-unicode {
/*    border-radius: 5px;*/
    padding-left: 2px;
    padding-right: 2px;
    font-weight: normal;
    user-select: text;
}

.hoabun-container {
    font-size: 14px;
    color: var(--container-light-color);
    display: inline-block;
    user-select: none;
}

.hoabun {
    user-select: text;
}

.all-alt-text-container {
    /* TODO: determine if float or absolute is better for these (see dbname below) */
    padding-right: 2px;
    padding-top: 2px;

    font-size: 8px;
    color: grey;

    user-select: none;
}

.alt-text-container {
    text-align: right;
}

.alt-text {
    user-select: text;
    text-align: right;
}

.definition-container {
}

.definition {
    font-size: 14px;
    color: var(--container-light-color);
    padding-left: 10px;
    font-style: italic;
}

.dbname-container {
    font-size: 8px;
    color: #777777;

/*    position: absolute;*/
/*    right: 5px;*/
/*    bottom: 3px;*/
}

.dbname {
    display: inline-block;
    text-align: right;
    text-transform: capitalize;
}

.searchscore-container {
    font-size: 8px;
    color: #555555;

/*    position: absolute;*/
/*    right: 5px;*/
/*    bottom: 14px;*/
}

.searchscore {
    display: inline-block;
    text-align: right;
}

.rowid-container {
    font-size: 8px;
    color: #555555;

/*    position: absolute;*/
/*    right: 5px;*/
/*    bottom: 16px;*/
}

.rowid {
    display: inline-block;
    text-align: right;
}

.db-loaded-states {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-top: 1px;
    opacity: 50%;
}

.db-loaded-entry {
/*    background: rgba(255, 255, 255, .55);*/
    color: #666666;

    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 3px;
    line-height: 1;
    border-radius: 2px;
}

.db-loaded-entry-name {
    padding-right: 2px;
    text-transform: capitalize;
}
.db-loaded-entry-isloaded {
}

.page {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 15px;
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

.page-header {
    border-radius: 15px 15px 0px 0px;

    color: var(--container-dark-color);
    background: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.page-content {
    border-radius: 0px 0px 15px 15px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}
