* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* TODO: set border box sizing by default */

:root {
    --container-bg-color: #fff1e5;
    --container-light-color: #66605c;
    --container-dark-color: black;
}

input {
}

body {
/*    background: #d7eed7;*/
/*    background: #ADD8E6;*/
/*    background: #321321;*/
    background: lightblue;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #24292f;
}

input, select, textarea, button {
    font-family: inherit;
}

mark {
    background: none;
    color: inherit;
    text-decoration: underline;
}


.ChhaTaigi {
/*    display: grid;*/
/*    grid-template-areas:*/
/*        "header"*/
/*        "searchbar"*/
/*        "options" */
/*        "results";*/
}

.liburry-main-area {
    transition: transform 1s ease;
}

.liburry-search-options-area {
    transform-origin: top;
}

.liburry-search-options-overlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}
